body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000;
}

.scene {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* Image de départ (Café) */
    background-image: url('https://media.istockphoto.com/id/1176123462/vector/modern-cafe-interior-empty-no-people-restaurant-cafeteria-design-flat-horizontal-vector.jpg?s=612x612&w=0&k=20&c=PwJmg9JELKEqtpN3k_GTJvD_6HuWckvN3GE2c4mlB-I=');
}

.machine-style {
    position: fixed;
    bottom: 5%; /* Position basse */
    right: -500px; /* Cachée à droite au début */
    width: 450px;
    height: auto;
    /* Mouvement saccadé (lourd) en 10 étapes sur 3 secondes */
    transition: right 3s steps(10); 
    z-index: 9999; /* Toujours devant le décor */
}

/* Classe activée par le premier clic Espace */
.machine-entree {
    right: 25% !important; 
}
