/* Configuration de base */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000;
}

/* Le décor de fond */
.scene {
    width: 100%;
    height: 100vh;
    transition: background-image 0.8s ease-in-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url('https://media.istockphoto.com/id/1176123462/vector/modern-cafe-interior-empty-no-people-restaurant-cafeteria-design-flat-horizontal-vector.jpg?s=612x612&w=0&k=20&c=PwJmg9JELKEqtpN3k_GTJvD_6HuWckvN3GE2c4mlB-I=');
}

/* La machine (cachée à droite au début) */
.machine-style {
    position: absolute;
    bottom: 5%; 
    right: -100%; 
    width: 450px;
    /* Mouvement saccadé en 10 étapes */
    transition: right 4s steps(10); 
    z-index: 10;
}

/* Quand la machine entre en scène */
.machine-entree {
    right: 25% !important; 
}
