/* On s'assure que la page utilise tout l'espace disponible */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Empêche l'apparition de barres de défilement */
    background-color: #000; /* Fond noir par défaut si l'image met du temps à charger */
}

.scene {
    width: 100%;
    height: 100vh; /* Utilise 100% de la hauteur de la fenêtre */
    
    /* On insère ton lien d'image ici */
    background-image: url('https://media.istockphoto.com/id/1176123462/vector/modern-cafe-interior-empty-no-people-restaurant-cafeteria-design-flat-horizontal-vector.jpg?s=612x612&w=0&k=20&c=PwJmg9JELKEqtpN3k_GTJvD_6HuWckvN3GE2c4mlB-I=');

    /* RÉGLAGES DE L'IMAGE */
    background-size: cover;      /* L'image couvre tout l'écran sans se déformer */
    background-position: center;  /* L'image est bien centrée */
    background-repeat: no-repeat; /* On ne veut pas que l'image se répète */
}
