/* On s'assure que la page prend tout l'écran sans marges blanches */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Empêche de scroller */
}

.scene {
    /* La hauteur prend 100% de la hauteur de l'écran */
    height: 100vh; 
    
    /* COULEUR DE FOND : Change le code couleur ici (ex: black, #333, darkblue) */
    background-color: #2c3e50; 

    /* IMAGE DE FOND : Si tu as une image, décommente la ligne ci-dessous */
    /* background-image: url('mon-decor.jpg'); */

    /* Ces lignes permettent à l'image de bien couvrir tout l'écran */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}